html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;

    border-top: 1px solid #e7e7e7;
}

.footer .text-muted {
    text-align: center;
    margin: 20px 0;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 50px;
}

body > .container {
    margin-top: 2em;
}

#commandContainer {
    margin-top: 2em;
}

.cmd-component-btn {
    font-size: 5em;
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

.cmd-component-btn:hover,
.cmd-component-btn:visited,
.cmd-component-btn:focus {
    text-decoration: none;
}

#arrowUp .cmd-component-btn:before {
    content: "\e253";
}

#arrowDown .cmd-component-btn:before {
    content: "\e252";
}

#arrowLeft .cmd-component-btn:before {
    content: "\e251";
}

#arrowRight .cmd-component-btn:before {
    content: "\e250";
}

#arrowUp > .cmd-component,
#arrowDown > .cmd-component {
    text-align: center;
}

#arrowRight > .cmd-component {
    text-align: right;
}

#arrowUp .cmd-component-btn {
    margin-bottom: -.5em;
}

#arrowDown .cmd-component-btn {
    margin-top: -.2em;
}

#aButton > .cmd-component {
    border: .3em solid #337ab7;
    text-align: center;

    border-radius: 5em;
}

#aButton .cmd-component-btn {
    margin-top: -.2em;
    width: 100%;
    height: 100%;
}

.cmd-red {
    border-color: red !important;
}

.cmd-blue > .cmd-component-btn {
    color: #337ab7;
}

.cmd-red > .cmd-component-btn {
    color: red;
}

.cmd-component.cmd-component-active {
    background-color: #dff0d8;
}

.cmd-component {
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}

#selectedAction .glyphicon {
    font-size: 8em;
    color: #3c763d;
}

#selectedAction .panel-body {
    text-align: center;
}