body {
    padding-top: 50px;
}

body > .container {
    margin-top: 2em;
}

#commandContainer {
    margin-top: 2em;
}

.cmd-component-btn {
    font-size: 5em;
    font-family: 'Glyphicons Halflings';
    display: inline-block;
}

.cmd-component-btn:hover {
    text-decoration: none;
}

#arrowUp .cmd-component-btn:before {
    content: "\e253";
}

#arrowDown .cmd-component-btn:before {
    content: "\e252";
}

#arrowLeft .cmd-component-btn:before {
    content: "\e251";
}

#arrowRight .cmd-component-btn:before {
    content: "\e250";
}

#arrowUp > .cmd-component,
#arrowDown > .cmd-component {
    text-align: center;
}

#arrowRight > .cmd-component {
    text-align: right;
}

#arrowUp .cmd-component-btn {
    margin-bottom: -.5em;
}

#arrowDown .cmd-component-btn {
    margin-top: -.2em;
}

#aButton > .cmd-component {
    border: .3em solid #337ab7;
    text-align: center;

    border-radius: 5em;
}

#aButton .cmd-component-btn {
    margin-top: -.2em;
    width: 100%;
    height: 100%;
}

.cmd-component-btn.cmd-blue {
    color: #337ab7;
}

.cmd-component-btn.cmd-red {
    color: red;
}

.cmd-component.cmd-component-active {
    background-color: #dff0d8;
}

.cmd-component {
    transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}