server/node_modules
server/logs
server/*.log
server/npm-debug.log*

client/node_modules
client/logs
client/*.log
client/npm-debug.log*

robots/robot_rouge/node_modules
robots/robot_bleu/node_modules

dist/*
