<div class="row">
    <div class="col-md-8">
        <iframe src="https://player.twitch.tv/?channel=4lluc" frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="http://www.twitch.tv/4lluc?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from 4lluc on www.twitch.tv</a>
    </div>

    <div class="col-md-4 form-horizontal">
        <div class="form-group">
            <label class="col-sm-6 control-label">Choix de l'équipe : </label>
            <div class="col-sm-6">
                <select class="form-control" ng-model="$homeCtrl.team" ng-options="team.label for team in $homeCtrl.teams">
                </select>
            </div>
        </div>
        <div id="commandContainer">
            <robot-fhacktory-cmd end-point="$homeCtrl.team.url" action="up" id="arrowUp"></robot-fhacktory-cmd>
            <robot-fhacktory-cmd end-point="$homeCtrl.team.url" action="left" id="arrowLeft"></robot-fhacktory-cmd>
            <robot-fhacktory-cmd end-point="$homeCtrl.team.url" action="right" id="arrowRight"></robot-fhacktory-cmd>
            <robot-fhacktory-cmd end-point="$homeCtrl.team.url" action="down" id="arrowDown"></robot-fhacktory-cmd>
        </div>
    </div>
</div>