<div class="row">
    <div class="col-md-6">
        <!-- <iframe src="https://player.twitch.tv/?channel=4lluc" frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="http://www.twitch.tv/4lluc?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from 4lluc on www.twitch.tv</a> -->
    </div>

    <div class="col-md-6">
        <div id="commandContainer">
            <robot-fhacktory-cmd end-point="http://localhost/move" action="up" id="arrowUp"></robot-fhacktory-cmd>
            <robot-fhacktory-cmd end-point="http://localhost/move" action="left" id="arrowLeft"></robot-fhacktory-cmd>
            <robot-fhacktory-cmd end-point="http://localhost/move" action="down" id="arrowDown"></robot-fhacktory-cmd>
            <robot-fhacktory-cmd end-point="http://localhost/move" action="right" id="arrowRight"></robot-fhacktory-cmd>
        </div>
    </div>
</div>